.header{
  padding:15px;
  text-align:center;
  font-family: serif;
  color: black;
}
.up{
  margin-top: 10px;
}

.login-form{ text-align:center;}
.login-form .form-group{
  margin-bottom: 10px;
}
.cont-body{
  border-style: solid;
  border-radius: 20px;
  border-color: #e5e5e5;
  background-color: #e5e5e5;
  padding: 10px;
}

thead{
  background-color: darksalmon;
}

.scrolltable { margin-top: 20px; max-height: 350px; overflow: auto; }
th { text-align: left }
