/* login form using https://bootsnipp.com/snippets/featured/login-form  */
.header{
  background-color:#e5e5e5;
  padding:15px;
  text-align:center;
  font-family: serif;
  color: black;
}
.up{
  margin-top: 10px;
}

.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background: #f7f7f7 none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 71px;
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}
.register a {
  margin-top: 20px;
  color: #777777;
  font-size: 14px;
  text-decoration: underline;

}
.login-form  .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.cont-body{
  border-style: solid;
  border-radius: 1px;
  border-color: #e5e5e5;
  background-color: #e5e5e5;
}
.tab{
  background-color: #f7f7f7;
}
thead{
  background-color: #fff;
}
.thumbnail {
    padding:0px;
}
.panel {
	position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}

.scrolltable { margin-top: 20px; height: 450px; overflow: auto; }
th { text-align: left }
