{% extends "layout.html" %}

{% block title %}
Book2Review Information
{% endblock %}

{% block body %}

<h2>Book Info</h2>

</br>
<div class="container">
		<ul class="list-group">
			<!-- <li>Title: <a href="/booksearch/{{ book[0] }}">{{ book[2] }}</a></li> -->
			<li>Title: <b>{{ book[2] }}</b></li>
			<li>Author : <a href="/booksearch/{{ book[0] }}/author">{{ book[3] }}</a></li>
			<li>Year : <a href="/booksearch/{{ book[0] }}/year">Year : {{ book[4] }}</a></li>
			<!-- <li>ISBN : <a href="/booksearch/{{ book[0]}}">{{ book[1] }}</a></li> -->
			<li>ISBN : <b>{{ book[1] }}</b></li>
		</ul>

	<hr>
	<form action="{{ url_for('Book', book_id = book[0])}}" method="post">

		<h4> Share Your Ratings</h4>
		<div class="col">
		<select class="form-group form-control col"name="user_rating">
			{% set counts = [1,2,3,4,5] %}
			<option value="{{i}}" selected disabled>Select your rating</option>
			{% for i in counts %}
				<option value="{{i}}">{{i}}</option>
			{% endfor %}
		</select>
		<div class="form-group">
			<button name="buttonsrc" value="rate" class="btn btn-info"><i class="fas fa-star"></i> Rate</button>
		</div>

		<p>Your Rating: {% if user_rating %}{{ user_rating }}{% else %}-{% endif %} / 5</p>

		<p>Overall Rating: {% if overall_rating %}{{ overall_rating[0] }}{% else %}-{% endif %} / 5 ({% if overall_rating %}{{ overall_rating[1] }}{% else %}0{% endif %})</p>

		<p>Goodread rating: {% if gread_rating %}{{ gread_rating['average_rating'] }}{% else %}-{% endif %} / 5 ({% if gread_rating %}{{ gread_rating['ratings_count'] }}{% else %}0{% endif %})</p>

		</br>

		<h4>Reviews</h4>
		{% if not user_review %}
		<div class="form-group">
			<h5>Share your review</h5>
			<textarea class="form-control" id="user_review" name="user_review" rows="3" cols="50"></textarea>
		</div>
		<div class="form-group">
			<button name="buttonsrc" value="review" class="btn btn-primary">Submit</button>
		</div>
		{% else %}
		<h4>Your Review: </h4>
		<div class="card card-body bg-light">{{ user_review }}</div>
		<br>
		<div class="form-group pull-right">
			<button name="buttonsrc" value="deletereview" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</button>
		</div>
		{% endif %}
		</br>
		{% if overall_reviews %}
		<h5><b>Total Reviews: {{ overall_reviews | count }}</b></h5>

	{% for review in overall_reviews %}
		<div>
			<div class="card">
				<div class="card-header">
					<strong><i class="fas fa-comment-dots"></i> {{review[0]}}</strong>
				</div>
				<div class="card-body">
					{{review[1]}}
				</div>
			</div>
			<br>
		</div>

			{% endfor %}

		{% endif %}
	</form>


{% endblock %}
