{% extends "layout.html" %}

{% block title %}
Book2Review Search
{% endblock %}

{% block body %}

<div class="container">
	<h3 class="text-center"> Search Your Books</h3>
	<form class="form-horizontal" action="{{ url_for('booksearch')}}" method="post">
		<div class="form-group">
			<label class="control-label col">Search by Type:</label>
					<div class="col">
						{% if books %}
						<select class="form-control" name="searchcol">
						{% else %}
						<select class="form-control" name="searchcol" autofocus>
						{% endif %}
							<option value="isbn">Isbn</option>
							<option value="title">Title</option>
							<option value="author">Author</option>
							<option value="year">Year</option>
						</select>
					</div>
		</div>
		<div class="form-group">
			<label class="control-label col">Search by Name:</label>
			<div class="col">
				<input class="form-control" name="searchtag" placeholder="Enter text here">
			</div>
		</div>
		<div class="form-group">
 		 <div class="col">
 			 <button type="submit" class="btn btn-success"><i class="fas fa-search"></i> Search</button>
 		 </div>
 	 </div>
	</form>
</div>

</br>
{% if books %}
	<div class="scrolltable">
		<table class="table table-hover table-bordered tab">
			<thead>
				<tr>
					<th>Isbn</th>
					<th>Title</th>
					<th>Author</th>
					<th>Year</th>
				</tr>
			</thead>
			<tbody>
			{% for book in books %}
					<tr>
						<td><a href="/booksearch/{{ book[0]}}">{{ book[1] }}</a></td>
						<td><a href="/booksearch/{{ book[0] }}">{{ book[2] }}</td>
						<td><a href="/booksearch/{{ book[0] }}/author">{{ book[3] }}</td>
						<td><a href="/booksearch/{{ book[0] }}/year">{{ book[4] }}</td>
					</tr>
			{% endfor %}
			</tbody>
		</table>
		</div>
		<form action="{{ url_for('booksearch') }}">
			<div class="form-group">
	 		 <div class="up">
	 			 <button type="submit" class="btn btn-success" autofocus
				 ><i class="fas fa-undo"></i> Reset</button>
	 		 </div>
	 	 	</div>
 		</form>

{% endif %}

{% endblock %}
