{% extends "layout.html" %}

{% block title %}
Book2Read: Change Password
{% endblock %}

{% block body %}
      <div class="container col-6">
        <div class="login-form">
          <h4>Change Password</h4>
            {% if not currentuser %}
            <form action="{{ url_for('changepassword') }}" method="post">
              <div class="form-group">
                <input type="text" class="form-control" name="newusername" placeholder="Please enter your username" autofocus/>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-info">Submit</button>
              </div>
              <input type="hidden" name="todo" value="searchuser"/>
            </form>
            {% else %}
            <form action="{{ url_for('changepassword') }}" method="post">
              <div class="form-group">
                <p>Please enter your old password</p>
                <input type="password" class="form-control" name="oldpassword" placeholder="Old Password" autofocus/>
              </div>
              <div class="form-group">
                (OR)
              </div>
              <div class="form-group">
                <p>answer the following security question</p>
                {{message}}
                <input type="password" class="form-control up" name="answer" placeholder="Answer?"/>
              </div>
              <div class="form-group">
                  <input type="password" class="form-control" name="password" placeholder="New Password">
              </div>
              <div class="form-group">
                <input class="form-control" type="password" name="password_retype" placeholder="Re-enter Password">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-info">Submit</button>
              </div>
              <input type="hidden" name="todo" value="searchanswer"/>
              <input type="hidden" name="currentuser" value="{{currentuser}}"/>
            </form>
            {% endif %}
        </div>
      </div>



{% endblock %}
