{% extends "layout.html" %}

{% block title %}
Online Book Review
{% endblock %}

{% block body %}
<h1>Online Book Review</h1>

<ul>
	<li>Search for your favorite books</li>
	<li>Read reviews of available books</li>
	<li>Share your personal opinions</li>
</ul>

{{ a }}
{% if session['logged_in'] %}


{% else %}
<div>
	<a href="/login" class="btn btn-success"><i class="fas fa-sign-in-alt"></i> Login</a>
	<a href="/register" class="btn btn-warning"><i class="fas fa-plus"></i> Register</a>
</div>

{% endif %}

{% endblock %}
