{% extends "layout.html" %}

{% block title %}
Online Book Review
{% endblock %}

{% block body %}

<h1>Online Book Review</h1>

<ul>
	<li>Search for your favorite books</li>
	<li>Read reviews of available books</li>
	<li>Share your personal opinions</li>
</ul>


{% if session['logged_in'] %}

<form action="{{ url_for('logout')}}">
	<div class="form-group">
		<button class="btn btn-primary">Logout</button>
	</div>
</form>

{% else %}
<style>
#btn_logout {
	display: none;
}
</style>

<div>
	<a href="/login">Login</a>
	<a href="/register">Register</a>
</div>
{% endif %}

{% endblock %}
