{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block body %}

{{ message }}

<form action="{{ url_for('login')}}" method="post">
		<div class="container">
					<div class="login-form">
						   <h4>User Login</h4>
						    <form id="Login">
						        <div class="form-group">
						            <input  type="text" class="form-control"  name="username" placeholder="User Name" autofocus>
						        </div>
						        <div class="form-group">
						            <input type="password" class="form-control" name="password" placeholder="Password">
						        </div>

						        <button  class="btn btn-success"><i class="fas fa-sign-in-alt"></i> Login</button>

										<div class="register">
											<a href="{{ url_for('register')}}">Register here</a>
										</div>
						    </form>
						</div>
			</div>
</form>

<style>
#btn_logout {
	display: none;
}
</style>

{% endblock %}
