{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block body %}

{{session['logged_in']}}

{% if session['logged_in'] %}

	<h3>User already logged in</h3>

{% else %}


<h1>User Login</h1>
<form action="{{ url_for('login')}}" method="post">
	<div class="form-group">
		<input class="form-control" type="text" name="username" placeholder="User Name">
		<input class="form-control" type="password" name="password" placeholder="Password">
	</div>
	<br/>
	<div class="form-group">
		<a href="{{ url_for('register')}}">Register</a>
	</div>
	<br/>
	<div class="form-group">
		<button class="btn btn-primary">Login</button>
	</div>
</form>

{% endif %}

{% endblock %}
