{% extends "layout.html" %}

{% block title %}
Books2Read: Registration
{% endblock %}

{% block body %}
    <form action="{{ url_for('register')}}" method="post">

      <div class="container col-6">
            <div class="login-form">
                 <h4>User Register</h4>
                      <div class="form-group">
                          <input  type="text" class="form-control"  name="username" placeholder="User Name" autofocus>
                      </div>
                      <div class="form-group">
                          <input type="password" class="form-control" name="password" placeholder="Password">
                      </div>
                      <div class="form-group">
                        <input class="form-control" type="password" name="password_retype" placeholder="Re-enter Password">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" name="question" placeholder="Please enter a valid security question">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" name="answer" placeholder="Please enter a valid answer">
                      </div>
                      <button type="submit" class="btn btn-warning"><i class="fas fa-user-plus"></i> Register</button>
                      <div>
                        <a href="{{ url_for('login')}}">Login</a>
                      </div>
              </div>
        </div>
    </form>

{% endblock %}
