{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block body %}
    <form action="{{ url_for('register')}}" method="post">

      <div class="container">
            <div class="login-form">
              <div class="main-div">
                 <h4>User Register</h4>
                      <div class="form-group">
                          <input  type="text" class="form-control"  name="username" placeholder="User Name" autofocus>
                      </div>
                      <div class="form-group">
                          <input type="password" class="form-control" name="password" placeholder="Password">
                      </div>
                      <div class="form-group">
                        <input class="form-control" type="password" name="password_retype" placeholder="Re-enter Password">
                      </div>
                      <button  class="btn btn-primary"><i class="fas fa-plus"></i> Register</button>
                      <div class="register">
                        <a href="{{ url_for('login')}}">Login</a>
                      </div>
                  </div>
              </div>
        </div>
    </form>

		<style>
		#btn_logout {
			display: none;
		}
		</style>

{% endblock %}
